<div>
    <h1>Solicitudes de Arriendo</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre del Solicitante</th>
                <th>Fecha de Solicitud</th>
                <th>Fecha de Llegada</th>
                <th>Fecha de Salida</th>
                <th>Valor</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let solicitud of solicitudes">
                <td>{{ solicitud.nombreSolicitante }}</td>
                <td>{{ solicitud.fechaSolicitud}}</td>
                <td>{{ solicitud.fechaLlegada}}</td>
                <td>{{ solicitud.fechaSalida}}</td>
                <td>{{ solicitud.valor}}</td>
                <td>{{ solicitud.estado }}</td>
                <td>
                    <button *ngIf="solicitud.estado === 'por aceptar'" (click)="aceptarSolicitud(solicitud.id)">Aceptar</button>
                    <button *ngIf="solicitud.estado === 'por aceptar'" (click)="cancelarSolicitud(solicitud.id)">Cancelar</button>
                    <!-- Añade botones para calificar si es necesario -->
                </td>
            </tr>
        </tbody>
    </table>
</div>

