<div class="container py-5">
    <div class="row mb-4 mb-lg-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <p class="fw-bold text-success mb-2">Login</p>
            <h2 class="fw-bold">Welcome To LandMates</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-xl-4">
            <div class="card">
                <div class="card-body text-center d-flex flex-column align-items-center">
                    <div class="bs-icon-xl bs-icon-circle bs-icon-primary shadow bs-icon my-4">
                        <!-- Ícono de usuario -->
                    </div>
                    <form (ngSubmit)="login()" novalidate>
                        <div class="mb-3">
                            <input class="form-control" type="email" name="email" [(ngModel)]="email" placeholder="Email" required />
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="password" name="password" [(ngModel)]="password" placeholder="Password" required />
                        </div>
                        <!-- Mensaje de error -->
                        <div *ngIf="errorMessage" class="alert alert-danger w-100">
                            {{ errorMessage }}
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary shadow d-block w-100" type="submit">
                                Log in
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
