<div class="container mt-5">
    <h2>Mis Propiedades</h2>
    <div *ngIf="properties && properties.length > 0">
      <div class="row">
        <div class="col-md-4" *ngFor="let property of properties">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ property.name }}</h5>
              <p class="card-text">
                Departamento: 
                <ng-container>
                  {{ property.departmentName }}
                </ng-container>
              </p>
              <p class="card-text">
                Municipio: 
                <ng-container >
                  {{ property.municipalityName }}
                </ng-container>
                <ng-template #loadingMunicipality>Loading...</ng-template>
              </p>
              <a class="btn btn-primary" (click)="editProperty(property.id!!)">Editar</a>
              <a class="btn btn-secondary" (click)="seeProperty(property.id!!)">Ver Detalles</a>
              <a class="btn btn-secondary" (click)="deactivate(property.id!!)">Desactivar</a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="properties && properties.length === 0">
      <p>No tienes propiedades asociadas.</p>
    </div>
  </div>
  