<!-- Create Property Form -->
<form (ngSubmit)="updateProperty()" #propertyForm="ngForm">
    <div>
        <h2>Editar Propiedad</h2>

        <!-- Campo de nombre -->
        <div>
            <label for="name">Nombre (obligatorio):</label>
            <input type="text" id="name" [(ngModel)]="property.name" name="name" required />
            <!-- Mensaje de error -->
            <div *ngIf="!property.name" class="error-message">
                Debes ingresar un nombre.
            </div>
        </div>

        <!-- Campo de departamento -->
        <div>
            <label for="department">Departamento (obligatorio):</label>
            <select id="department" [(ngModel)]="selectedDepartment" name="department" required (change)="onDepartmentChange()">
                <option *ngFor="let department of departments | async" [value]="department.id">
                    {{ department.name }}
                </option>
            </select>
            <!-- Mensaje de error -->
            <div *ngIf="!selectedDepartment" class="error-message">
                Debes seleccionar un departamento.
            </div>
        </div>

        <!-- Campo de municipio -->
        <div>
            <label for="municipality">Municipio (obligatorio):</label>
            <select id="municipality" [(ngModel)]="municipalityID" name="municipality" required>
                <option *ngFor="let municipality of municipalities | async" [value]="municipality.id">
                    {{ municipality.name }}
                </option>
            </select>
            <!-- Mensaje de error -->
            <div *ngIf="!property.municipalityName" class="error-message">
                Debes seleccionar un municipio.
            </div>
        </div>

        <!-- Campo de tipo de ingreso -->
        <div>
            <label for="accessType">Tipo de ingreso:</label>
            <select id="accessType" [(ngModel)]="property.accessType" name="accessType">
                <option value="carreteraPrincipal">Carretera Principal</option>
                <option value="carreteraSecundaria">Carretera Secundaria</option>
                <option value="carreteraTerciaria">Carretera Terciaria</option>
            </select>
            <div *ngIf="!property.accessType" class="error-message">
                Debes seleccionar un tipo de acceso.
            </div>
        </div>

        <!-- Campo de descripción -->
        <div>
            <label for="description">Descripción (obligatorio):</label>
            <textarea id="description" [(ngModel)]="property.description" name="description" required></textarea>
            <!-- Mensaje de error -->
            <div *ngIf="!property.description" class="error-message">
                Debes ingresar una descripción.
            </div>
        </div>

        <!-- Campo de cantidad de habitaciones -->
        <div>
            <label for="rooms">Cantidad de habitaciones (obligatorio):</label>
            <input type="number" id="rooms" [(ngModel)]="property.rooms" name="rooms" min="1" required />
            <!-- Mensaje de error -->
            <div *ngIf="!property.rooms" class="error-message">
                Debes ingresar la cantidad de habitaciones.
            </div>
        </div>

        <!-- Campo de cantidad de baños -->
        <div>
            <label for="bathrooms">Cantidad de baños (obligatorio):</label>
            <input type="number" id="bathrooms" [(ngModel)]="property.bathrooms" name="bathrooms" min="1" required />
            <!-- Mensaje de error -->
            <div *ngIf="!property.bathrooms" class="error-message">
                Debes ingresar la cantidad de baños.
            </div>
        </div>

        <!-- Campo de permitir mascotas -->
        <div>
            <label for="petFriendly">Permite mascotas:</label>
            <input type="checkbox" id="petFriendly" [(ngModel)]="property.petFriendly" name="petFriendly" />
        </div>

        <!-- Campo de piscina -->
        <div>
            <label for="pool">Tiene piscina:</label>
            <input type="checkbox" id="pool" [(ngModel)]="property.pool" name="pool" />
        </div>

        <!-- Campo de asador -->
        <div>
            <label for="bbq">Tiene asador:</label>
            <input type="checkbox" id="bbq" [(ngModel)]="property.bbq" name="bbq" />
        </div>

        <!-- Campo de valor por noche -->
        <div>
            <label for="pricePerNight">Valor por noche:</label>
            <input type="number" id="pricePerNight" [(ngModel)]="property.pricePerNight" name="pricePerNight" min="0" />
            <div *ngIf="!property.pricePerNight" class="error-message">
                Debes ingresar el valor por noche.
            </div>
        </div>

        <!-- Botón de enviar -->
        <div>
            <button [disabled]="propertyForm.invalid" type="submit">Editar Propiedad</button>
        </div>

        <!-- Mensaje de error -->
        
    </div>
</form>
